<div id="loginBox" class="hidden fixed inset-0 bg-black/70 flex items-center justify-center z-50">
  <div class="bg-white p-6 rounded w-80 text-black">
    <h3 class="text-lg font-bold mb-4">Login</h3>

    <input id="user" placeholder="Usuário" class="w-full border p-2 mb-3">
    <input id="pass" type="password" placeholder="Senha" class="w-full border p-2 mb-4">

    <button onclick="fazerLogin()" class="bg-black text-white px-4 py-2 w-full mb-2">
        Entrar
    </button>

    <button onclick="fecharLogin()" class="text-sm w-full">
        Cancelar
    </button>
  </div>
</div>